*
**/*

!.gitignore
!LICENSE
!pyproject.toml
!bbrowser_requirements.txt
!README.md
!tests
!tests/test_data/
!tests/test_data/pbmc3k_filtered_gene_bc_matrices.tar.gz
!tests/**/*.py

!walnut/
!walnut/*.py

!walnut/models/
!walnut/models/*.py
